/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  font-family: 'Noto Sans', sans-serif; }

.wrapper {
  margin: 0 5%; }
  @media (max-width: 450px) {
    .wrapper .font_size {
      font-size: 20px; } }
  @media (max-width: 340px) {
    .wrapper .font_size {
      font-size: 18px; } }

.iphone {
  background-size: contain;
  background-position: center;
  background-image: url(../images/wi-fi.png);
  width: 100%;
  height: 36px;
  background-repeat: no-repeat; }
  @media (max-width: 450px) {
    .iphone {
      height: 32px; } }
  @media (max-width: 340px) {
    .iphone {
      height: 25px; } }

.head {
  width: 100%;
  height: 100px;
  background-color: #fff;
  box-shadow: 0 5px 7px -5px #000; }
  .head .head_arrow {
    background-size: contain;
    background-position: center;
    width: 20px;
    height: 30px;
    background: url(../images/arrow.svg) no-repeat;
    float: left;
    margin-top: 35px; }
  .head .head_logo {
    background-size: contain;
    background-position: center;
    width: 70px;
    height: 80px;
    background: url(../images/logo.svg) no-repeat;
    margin: 0 auto; }
  .head .head_container {
    float: right;
    margin-top: -57px; }
    .head .head_container .container_search {
      background-size: contain;
      background-position: center;
      width: 50px;
      height: 45px;
      background: url(../images/search.svg) no-repeat;
      display: inline-block;
      margin-right: 50px;
      cursor: pointer; }
      @media (max-width: 450px) {
        .head .head_container .container_search {
          margin-right: 15px; } }
    .head .head_container .container_menu {
      background-size: contain;
      background-position: center;
      width: 7px;
      height: 42px;
      background: url(../images/menu.svg) no-repeat;
      display: inline-block;
      cursor: pointer; }

.settings h1 {
  font-size: 40px;
  font-weight: 400;
  color: #0080C5;
  text-align: center;
  margin-top: 70px; }

.settings .settings_photo {
  width: 220px;
  height: 220px;
  background-size: contain;
  background-position: center;
  margin: 0 auto;
  background: url(../images/photo.png) no-repeat;
  border-radius: 50%;
  margin-top: 60px;
  cursor: pointer; }

.settings a {
  font-size: 28px;
  font-weight: 400;
  color: #0080C5;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  text-decoration: none;
  display: block; }

.settings hr {
  width: 100%;
  height: 2px;
  background-color: #C2D0DC;
  border: none; }

h3 {
  font-size: 30px;
  font-weight: 700;
  color: #0080C5;
  margin: 50px 0; }

p, label {
  font-size: 26px;
  font-weight: 700;
  color: #495461; }

.weight {
  font-size: 26px;
  font-weight: 400;
  color: #495461;
  display: inline-block; }

.btn {
  width: 100%;
  height: 80px;
  border-color: transparent;
  background-color: #8596A4;
  outline: none;
  border-radius: 10px;
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  margin: 50px 0; }

.center {
  text-align: center; }

.btn_1 {
  background-color: #11C49A;
  margin-bottom: 40px; }

.color {
  color: #8596A4; }

.settings_password {
  background-color: #F1F4F6;
  border-radius: 10px;
  display: none;
  padding: 45px 0;
  margin-bottom: 50px; }

input {
  width: 100%;
  height: 80px;
  border-color: transparent;
  background-color: #fff;
  outline: none;
  border-radius: 10px;
  border: 2px solid #C5CFDB;
  text-indent: 35px;
  margin: 10px 0 50px 0; }

.settings_container {
  position: relative; }
  .settings_container .password_eye {
    width: 40px;
    height: 27px;
    position: absolute;
    background: url(../images/eye.svg) no-repeat;
    top: 75px;
    right: 15px; }
  @media (max-width: 533px) {
    .settings_container #third {
      top: 110px; } }

ul {
  width: 360px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 50px; }
  @media (max-width: 533px) {
    ul {
      width: 320px; } }
  @media (max-width: 450px) {
    ul {
      width: 270px; } }
  ul .social {
    width: 80px;
    height: 80px;
    display: inline-block;
    background: url(../images/link.svg) no-repeat; }
    ul .social:nth-child(2) {
      background: url(../images/google.svg) no-repeat;
      margin: 0 55px; }
      @media (max-width: 533px) {
        ul .social:nth-child(2) {
          margin: 0 35px; } }
      @media (max-width: 450px) {
        ul .social:nth-child(2) {
          margin: 0 10px; } }
    ul .social:nth-child(3) {
      background: url(../images/face.svg) no-repeat; }

.display {
  display: block;
  height: 100%; }

@media (max-width: 340px) {
  #change_marg {
    margin-top: -20px; } }

@media (max-width: 450px) {
  #change_marg {
    margin-top: -20px; } }

.info {
  position: relative;
  padding-bottom: 50px; }
  .info #ok {
    width: 32px;
    height: 23px;
    position: absolute;
    background: url(../images/ok.svg) no-repeat;
    right: 15px;
    top: 195px; }
    @media (max-width: 450px) {
      .info #ok {
        top: 235px; } }
  .info .info_item .change {
    width: 80px;
    height: 80px;
    display: inline-block;
    float: right;
    background: url(../images/pen.svg) no-repeat;
    cursor: pointer; }
  .info .info_contain .switch {
    background: #FFAB46;
    cursor: pointer;
    display: block;
    position: relative;
    float: right;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    margin-top: 30px;
    margin-right: 15px; }
    .info .info_contain .switch .handle {
      display: block;
      position: absolute;
      background: #fff;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      box-shadow: 0 5px 7px -5px;
      top: -5px; }
  .info .dot {
    background-image: -webkit-linear-gradient(left, #D8E0E6 30%, rgba(255, 255, 255, 0) 0%);
    background-image: linear-gradient(to right, #D8E0E6 30%, rgba(255, 255, 255, 0) 0%);
    background-position: top;
    background-size: 9px 2px;
    background-repeat: repeat-x;
    text-indent: -99999px;
    margin: 20px 0 -5px 0; }

.size {
  width: 85%; }
  @media (max-width: 533px) {
    .size {
      width: 73%;
      font-size: 25px; } }
