$blue:#0080C5;
$grey:#495461;
$color-switch-handle: #fff;
$color-switch-background: #FFAB46;


@mixin big-size {
  @media (max-width: 533px) {
    @content;
  }
}
@mixin md-size {
  @media (max-width: 450px) {
    @content;
  }
}
@mixin sm-size {
  @media (max-width: 340px) {
    @content;
  }
}
@mixin param($width,$height){
	width: $width;
	height: $height;
}
@mixin size{
	background-size: contain;
	background-position: center;
}
@mixin fonts($size,$weight,$color){
	font-size: $size;
	font-weight: $weight;
	color: $color;
}
@mixin btn($color){
	width: 100%;
	height: 80px;
	border-color: transparent;
	background-color: $color;
	outline: none;
	border-radius: 10px;
	
}